<!-- Our Contact page -->
<div class="page-main-header container center">
<h1> About Us </h1>
</div>

<div class="container center">
<p class="secondary-font"> Sungmin Ro <a href="https://github.com/tjdals504"> https://github.com/tjdals504 </a></p>

<br>
<p class="secondary-font"> Rush Myers <a href="https://github.com/RushMyers"> https://github.com/RushMyers </a></p>

<br>
<p class="secondary-font"> Blake Smith <a href="https://github.com/bs3589"> https://github.com/bs3589 </a></p>

</div>
