<div class="background-yellow">
	<div class="logotype-container">
		<h1 class="logotype"> Welcome to DriftR!</h1>
		<%= link_to "GET STARTED", new_user_registration_path, class: "waves-effect waves-light btn btn-large add-post-button get-started btn-font" %>
	</div>
</div>

