<!-- Returning User Default Page -->
<h1 class="city-name center">User Profile</h1>

<h3 class="center">Hello, <%= current_user.email %></h3>

<% @user_posts.each do |post| %>
	<div class="container">
	<div class="card form_card">
	  <div>
	  	<h4 class="card-title post-title center"><%= "[#{post.city.name}]" + '  ' + post.title%></h4>
	  	<hr class="small">
	  	<p class="secondary-font card-text center"> <%= post.content %></p>
	  </div>
	</div>
	</div>
<% end %>
