  <div class="container card ">
    <h1>Posts#show</h1>

    <h5>title:</h5>
    <%= @post.title %>
    <br>
    <h5>content:</h5>
    <%= @post.content %>

    <%= link_to "Edit",  edit_city_post_path(@post) %>
  </div>
