/* ----- FONT USED 
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Open Sans', sans-serif; -----*/

/*----- COLOR USED 
#00bfa5 main green
 */



body {
	background-color: #ffffff !important;
}


.projCard {
	/*height: 300px;*/
    /*width: 60rem;*/
    overflow: auto;
    margin: 20px 10px !important;
    background-color: #f2efef !important;
    padding: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3)!important;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    margin: 0 auto;
}

.form_card {
	padding: 22px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)!important;
}

.project-btn {
	color: white !important;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6)!important;
}

.small {
	height: 2px;
    background-color:#bdbdbd;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%; 
}


.divider {
	text-align: center;
	background-color: #282828;
	/*background-color: rgba(40,40,40,0.5);*/
	/*color: grey;*/
	height: 40px;
	

}

.block-header {
	/*background-color: black;*/
	text-align: center;
	color: grey;	

}

.block-header h2 {
	margin: 0;
	padding-bottom: 20px;
}

.img-circle {
	width: 50px;
    height: 50px;

}

.card-container { 
	margin: 0 auto;
 }
.projects-container {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;

    background-image: url("images/3d-white-pattern-2.jpg");
     /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
    background-color: #e9e9e9;

    }
.add-post-button { 
	margin-left: 50px;
 }

.btn-mini {
	height: 20px !important;
	padding: 5px !important;
	line-height: 10px !important;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6)!important;
	/*overflow: auto;*/
	border-radius: 5px;
	font-size: 10px !important;
	margin-top: 15px;
}
.city-picture {
	margin: 0 auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}


.col-lg-4 {
     width: auto !important; 
     min-width: 100%;
}


.sub-nav {
	position: absolute;
	background-color: #b2dfdb !important;
	
}

.breadcrumb {
	background-color: #b2dfdb !important;
	margin: 5px;
}

.brand-logo {
	background-image: url('http://i.imgur.com/Wrg6aJM.jpg');
	background-size: 100%;
	height: 100px;
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	
	background-repeat: no-repeat;
}


.test {
	height: 500px;
	width: 100%;
	background-repeat: no-repeat;

}

/*-------- HOMEPAGE --------*/

.logotype {
	font-family: 'Love Ya Like A Sister', cursive;
	color: white;
	font-size: 75px;
	z-index: 1;
	margin: 0 auto;
}

.logotype-container {
	margin-top: 15%;
}

.get-started {
	margin-top: 5%;
}

.background-yellow {
	position: absolute;
	text-align: center;
	display: fixed;
	top: 0px;
	background-color: yellow;
	background-position: cover;
	width: 100%;
	height: 700px;
	z-index: -1;
}

.card .form_card {
	max-width: 400px !important;
}

.btn-font {
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;

}

/* NEW ADDED */
.primary-font {
	font-family: 'Love Ya Like A Sister', cursive;
}

.index-header {
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 65px;
}

.logotype {
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 45px;
}

li.nav-bar-text{
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 25px;
}

.page-main-header {
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 60px;
}

.city-name {
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 100px;
	z-index: 1;
}

.post-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #00bfa5
}
.secondary-font {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: black;
}

.img-show-page {
	width: 100%;
	height: 100%;
	position: fixed;
	margin-top: -70px;
	z-index: -1;
}

.start-below {
	padding-top: 300px;
}

.margin-top {
	margin-top: 15px;
}
.margin-around {
	margin: 10px 0 0 20px;
}
